@import "bootstrap-sprockets";
@import "bootstrap";


/*---------------   General   -----------------*/

ul {
	padding-left: 0;
	list-style-type: none;
}	

.box {
	border: 3px solid rgba(200, 200, 200, 0.3);
	border-radius: 5px;
	margin-right: 10px;
}

.jumbotron {
	color: white;
	background-image: image-url('ProjectManagerJumboBackground.png');
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}

.green {
	color: green;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

/*---------------   Navigation   -----------------*/

.profile_link {
	margin-top: 20px;
	margin-right: 20px;
}

.navbar {
	.btn {
		margin-top: 10px;
		margin-bottom: 10px;
		color: #fff !important;
	}

	.btn:hover {
		color: #000 !important;
	}
}
